/**
 ** AIESEC SASS Variables
 */
/**
 ** Table of Contents
 **
 ** 1. Colours
 ** 	1a Base colours
 ** 	1b Social colours
 ** 	1c Backgrounds
 **
 ** 2. Fonts
 ** 	2a Font families
 **		2b Font sizes
 **
 **	3. Directories
 **		
 */
/* 1. Colours
---------------------------------------------*/
/* 1a. Base colours */
/* 1b. Social colours */
/* 1c. Backgrounds */
/* 2. Fonts
 ---------------------------------------------*/
/* 2a. Font families */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* 2b. Font sizes */
/* 2c. Font weights */
/* 2d. Line height */
/* 2e. Padding and margins */
/* 3. Directories
---------------------------------------------*/
/* line 1, ../sass/aiesec/_body.scss */
body {
  font-family: "Lato", Arial, sans-serif;
}

/* line 5, ../sass/aiesec/_body.scss */
.page {
  font-family: "Lato", Arial, sans-serif;
}

/* line 9, ../sass/aiesec/_body.scss */
a {
  color: #404040;
}

/* line 13, ../sass/aiesec/_body.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 18, ../sass/aiesec/_body.scss */
p:empty {
  display: none;
}

/* line 22, ../sass/aiesec/_body.scss */
.wrapper {
  max-width: 1050px;
}

/* line 4, ../sass/aiesec/_layout.scss */
.page h1,
.h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3;
}

/* line 11, ../sass/aiesec/_layout.scss */
.page h2,
.h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
}

/* line 18, ../sass/aiesec/_layout.scss */
.page h3,
.h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.3;
}

/* line 25, ../sass/aiesec/_layout.scss */
.page h4,
.h4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3;
}

/* line 32, ../sass/aiesec/_layout.scss */
.page h5,
.h4 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
}

/* line 39, ../sass/aiesec/_layout.scss */
.page p,
.p {
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  padding-bottom: 10px;
}

/* line 1, ../sass/aiesec/_header.scss */
.aiesec-header, .top-header {
  background-color: #2142c8;
  font-family: "Lato", Arial, sans-serif;
}

/* line 6, ../sass/aiesec/_header.scss */
.aiesec-top-header-inner {
  padding-top: 10px;
}

/* line 10, ../sass/aiesec/_header.scss */
.aiesec-search {
  padding: 0 0 5px 25px;
}
/* line 12, ../sass/aiesec/_header.scss */
.aiesec-search input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 25px;
  padding: 0 5px;
  width: 90%;
}
/* line 20, ../sass/aiesec/_header.scss */
.aiesec-search button {
  background: transparent;
}

/* line 25, ../sass/aiesec/_header.scss */
.aiesec-language {
  float: right;
}

/* line 30, ../sass/aiesec/_header.scss */
#aiesec-sign-up {
  float: right;
}
/* line 32, ../sass/aiesec/_header.scss */
#aiesec-sign-up a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  background: #2b458b;
  padding: 4px 15px;
  color: white;
  font-size: 14px;
}

/* line 44, ../sass/aiesec/_header.scss */
.aiesec-main-nav a {
  font-size: 14px;
  padding: 2px 20px;
  font-weight: 700;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.3em;
  color: white;
  border-top: none !important;
}

/* line 55, ../sass/aiesec/_header.scss */
.aiesec-sign-up {
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 10px;
}

/* line 63, ../sass/aiesec/_header.scss */
.sub-menu .menu-item {
  background-color: white;
  min-height: 25px;
  padding-left: 15px;
}
/* line 67, ../sass/aiesec/_header.scss */
.sub-menu .menu-item a {
  color: #222222;
  font-size: 14px;
}

/* line 74, ../sass/aiesec/_header.scss */
a#nav-responsive-toggle {
  font-size: 21px;
  color: white;
}

/* line 80, ../sass/aiesec/_header.scss */
#branding {
  background-image: url(../images/aiesec/aiesec-logo.png);
  font-size: 0;
  display: block;
  width: 150px;
  height: 25px;
  background-repeat: no-repeat;
}

/* line 90, ../sass/aiesec/_header.scss */
.header.header-floating {
  padding: 10px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 95, ../sass/aiesec/_header.scss */
.header.floating {
  padding: 5px;
}

/* line 99, ../sass/aiesec/_header.scss */
body .page {
  margin-top: 20px;
}

/* line 1, ../sass/aiesec/_footer.scss */
.aiesec-footer {
  background-color: #e1e1e1;
}

/* line 6, ../sass/aiesec/_footer.scss */
.copyright .menu {
  display: inline-block;
  float: none;
}
/* line 9, ../sass/aiesec/_footer.scss */
.copyright .menu a {
  font-size: 17.5px;
  padding: 0 10px;
  font-weight: 700;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.2em;
  color: #2142c8;
}
/* line 17, ../sass/aiesec/_footer.scss */
.copyright .menu li {
  display: inline-block;
  padding: 0 15px;
}

/* line 24, ../sass/aiesec/_footer.scss */
.copyright-nav, .copyright-text {
  float: none !important;
  text-align: center;
}

/* line 30, ../sass/aiesec/_footer.scss */
.social-feeds {
  color: white;
}
/* line 32, ../sass/aiesec/_footer.scss */
.social-feeds i {
  font-size: 40px;
  padding: 15px;
  display: block;
  text-align: center;
}
/* line 38, ../sass/aiesec/_footer.scss */
.social-feeds#twitter-feed {
  background-color: #4099ff;
}
/* line 41, ../sass/aiesec/_footer.scss */
.social-feeds#facebook-feed {
  background-color: #385ba6;
}
/* line 44, ../sass/aiesec/_footer.scss */
.social-feeds#linkedin-feed {
  background-color: #1985bb;
}
/* line 47, ../sass/aiesec/_footer.scss */
.social-feeds#insta-feed {
  background-color: #517fa4;
}

/* line 52, ../sass/aiesec/_footer.scss */
.aiesec-footer-social .tile {
  margin: 10px 5px 0px;
  color: white;
}

/* line 57, ../sass/aiesec/_footer.scss */
.aiesec-footer-links .tile {
  margin: 10px 5px 10px;
  color: #404040;
}

/* line 62, ../sass/aiesec/_footer.scss */
.tile {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  font-size: 21px;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.2em;
  background-color: white;
}

/* line 3, ../sass/aiesec/_section.scss */
section {
  min-height: 300px;
  padding: 50px 0;
}

/* line 8, ../sass/aiesec/_section.scss */
#section-1 .section-inner {
  max-width: 850px;
  margin: 0 auto;
}

/* line 13, ../sass/aiesec/_section.scss */
#section-2, .section-2 {
  background-color: #f3f4f7;
  min-height: 550px;
}

/* line 18, ../sass/aiesec/_section.scss */
.students-6-column {
  background-color: #52565e;
  font-weight: 300;
}

/* line 25, ../sass/aiesec/_section.scss */
.color-palette-1 {
  color: #404040;
}

/* line 30, ../sass/aiesec/_section.scss */
.color-palette-2 {
  color: white;
}

/* line 37, ../sass/aiesec/_section.scss */
.vp-box {
  margin: 20px;
}

/* line 41, ../sass/aiesec/_section.scss */
.vp-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 43, ../sass/aiesec/_section.scss */
.vp-button:hover {
  color: white !important;
}

/* line 48, ../sass/aiesec/_section.scss */
.aiesec-button-1 {
  font-size: 36px;
  font-weight: 700;
  padding: 30px;
  margin: 10px;
  min-width: 300px;
  text-align: center;
}

/* line 58, ../sass/aiesec/_section.scss */
.aiesec-button-2 {
  padding: 20px;
  font-weight: 400;
  background-color: white;
  width: 250px;
  text-align: center;
}

/* line 66, ../sass/aiesec/_section.scss */
.aiesec-button-3 {
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}

/* line 73, ../sass/aiesec/_section.scss */
.button2 {
  font-size: 18px;
  font-weight: 400;
}

/* line 80, ../sass/aiesec/_section.scss */
.small-tile {
  text-align: center;
  height: 150px;
  width: 150px;
  font-size: 60px;
  line-height: 150px;
  font-weight: 400;
}

/* line 89, ../sass/aiesec/_section.scss */
.tile-heading {
  margin: 25px 0;
  line-height: 1.2em;
}

/* line 96, ../sass/aiesec/_section.scss */
.orange {
  background-color: #f48924;
  color: white;
}

/* line 100, ../sass/aiesec/_section.scss */
.turquoise {
  background-color: #30c39e;
  color: white;
}

/* line 104, ../sass/aiesec/_section.scss */
.blue {
  background-color: #037ef3;
  color: white;
}

/* line 108, ../sass/aiesec/_section.scss */
.red {
  background-color: #f85a40;
  color: white;
}

/* line 112, ../sass/aiesec/_section.scss */
.yellow {
  background-color: #ffc845;
  color: white;
}

/* line 116, ../sass/aiesec/_section.scss */
.teal {
  background-color: #0a8ea0;
  color: white;
}
