body {
	font-family: $font-family-default;
}

.page {
	font-family: $font-family-default;
}

a {
	color: $default-text;
}

img {
	max-width: 100%;
	height: auto;
}

p:empty {
	display: none;
}

.wrapper{
	max-width: 1050px;
}