.aiesec-footer{
	background-color: $footer-background;
}

.copyright {
	.menu {
		display: inline-block;
		float: none;
			a{
				font-size: $font-size-medium;
				padding: 0 10px;
				font-weight: $font-weight-bold;
				font-family: $font-family-default;
				line-height:1.2em;
				color: $blue;
			}
			li{
				display: inline-block;
				padding: 0 15px;
			}
	}
}

.copyright-nav, .copyright-text {
	float: none !important;
	text-align: center;
}


.social-feeds {
	color: $white;
		i {
			font-size: 40px;
			padding: $padding-default * 1.5;
			display: block;
			text-align: center;
		}
		&#twitter-feed{
			background-color: $twitter-blue;
		}
		&#facebook-feed{
			background-color: $facebook-blue;
		}
		&#linkedin-feed{
			background-color: $linkedin-blue;
		}
		&#insta-feed{
			background-color: $insta-blue;
		}

}
.aiesec-footer-social .tile {
	margin: 10px 5px 0px;
	color: $white;
}

.aiesec-footer-links .tile {
	margin: 10px 5px 10px;
	color: $default-text;
}

.tile{
	@include border-radius(5px);
	padding: $padding-default * 2;
	margin: $margin-default * 2;
	font-size: $font-size-large;
	font-family: $font-family-default;
	line-height:1.2em;
	background-color: $white;
}