.aiesec-header, .top-header{
	background-color: $header-background;
	font-family: $font-family-default;
}

.aiesec-top-header-inner{
	padding-top: $padding-default;
}

.aiesec-search{
	padding: 0 0 5px 25px;
	input {
		@include border-radius(5px);
		border: none;
		font-size: $font-size-default;
		line-height: 25px;
		padding: 0 5px;
		width: 90%;
	}
	button{
		background: transparent;
	}
}

.aiesec-language{
	float: right;
}


#aiesec-sign-up {
	float: right;
		a{
			@include border-radius(5px);
			display: inline-block;
			position: relative;
			background: $button-background-1;
			padding: 4px 15px;
			color: $white;
			font-size: $font-size-default;
		}
}

.aiesec-main-nav{
		a{
			font-size: $font-size-default;
			padding: 2px 20px;
			font-weight: $font-weight-bold;
			font-family: $font-family-default;
			line-height:1.3em;
			color: $white;
			border-top: none !important;
		}
}

.aiesec-sign-up{
	border:2px solid $white;
	@include border-radius(5px);
	margin-left: $margin-default;
	padding: 0 $padding-default;
}

.sub-menu{
	.menu-item{
		background-color: $white;
		min-height: 25px;
		padding-left: $padding-default * 1.5;
			a{
			color: $color-grey-dark;
			font-size: $font-size-default;
			}
	}
}

a#nav-responsive-toggle {
	font-size: $font-size-large;
	color: $white;
}


#branding {
	background-image: url(#{$image-dir}aiesec-logo.png);
	font-size: 0;
	display: block;
	width:150px;
	height:25px;
	background-repeat: no-repeat;
}


.header.header-floating {
	padding: 10px 0;
	@include transition(all 0.5s ease-in-out);
}

.header.floating {
	padding: 5px;
}

body .page{
	margin-top: $margin-default * 2;
}

