	// Fonts //

	.page h1,
	.h1 {
		font-size: 				60px;
		font-weight: 			$font-weight-default;
		line-height: 			$line-height-default;
	}

	.page h2,
	.h2 {
		font-size: 				48px;
		font-weight: 			$font-weight-bold;
		line-height: 			$line-height-default;
	}

	.page h3,
	.h3 {
		font-size: 				36px;
		font-weight: 			$font-weight-default;
		line-height: 			$line-height-default;
	}

	.page h4,
	.h4 {
		font-size: 				36px;
		font-weight: 			$font-weight-light;
		line-height: 			$line-height-default;
	}

	.page h5,
	.h4 {
		font-size: 				30px;
		font-weight: 			$font-weight-light;
		line-height: 			$line-height-default;
	}

	.page p, 
	.p {
		font-size: 				18px;
		line-height: 			$line-height-default;
		margin: 				0;
		padding-bottom: 		$padding-default;
	}

