// Section containers //

section {
	min-height: 300px;
	padding: 50px 0;
}

#section-1 .section-inner{
	max-width: 850px;
	margin: 0 auto;
}

#section-2, .section-2 {
	background-color: $section-2-background;
	min-height: 550px;
}

.students-6-column{
	background-color: #52565e;
	font-weight: $font-weight-light;
}

// color palettes overrides //

.color-palette-1{
	color: $default-text;
}


.color-palette-2{
	color: $white;
}


// Buttons //

.vp-box{
	margin: $margin-default * 2;
}

.vp-button {
	@include border-radius(10px);
	&:hover{
		color: $white !important;
	}
}

.aiesec-button-1{
	font-size: 				36px;
	font-weight: 			$font-weight-bold;
	padding: 				$padding-default * 3;
	margin: 				$margin-default;
	min-width:  			300px;
	text-align:  			center;

}	

.aiesec-button-2 {
	padding: 				$padding-default * 2;
	font-weight:  			$font-weight-default;
	background-color:  		$white;
	width: 					250px;
	text-align: 			center;
}

.aiesec-button-3 {
	font-size:  			30px;
	font-weight:  			$font-weight-default;
	padding: 				$padding-default * 2;
	text-align: 			center;
}

.button2{
	font-size: 				18px;
	font-weight: 			$font-weight-default;
}	

//Small Tiles //

.small-tile{
	text-align: center;
	height: 150px;
	width: 150px;
	font-size: 60px;
	line-height: 150px;
	font-weight: $font-weight-default;
}

.tile-heading{
	margin: 25px 0;
	line-height: 1.2em;
}

//Colours//

.orange{
	background-color:  		$color-orange;
	color:  				$white;
}
.turquoise{
	background-color:  		$color-turquoise;
	color:  				$white;
}
.blue{
	background-color:  		$color-mid-blue;
	color:  				$white;
}
.red{
	background-color: 		$color-red;
	color:					$white;
}
.yellow{
	background-color: 		$color-yellow;
	color:					$white;
}
.teal{
	background-color: 		$color-teal;
	color:					$white;
}
	

