/**
 ** AIESEC SASS Variables
 */

/**
 ** Table of Contents
 **
 ** 1. Colours
 ** 	1a Base colours
 ** 	1b Social colours
 ** 	1c Backgrounds
 **
 ** 2. Fonts
 ** 	2a Font families
 **		2b Font sizes
 **
 **	3. Directories
 **		
 */

 /* 1. Colours
 ---------------------------------------------*/

	/* 1a. Base colours */
	$default-text:				#404040;
	$white:						#ffffff;
	$blue:						#2142c8;
	$color-mid-blue:			#037ef3;
	$color-grey-light:			#eaeaea;
	$color-grey-mid:			#cccccc;
	$color-grey-dark:			#222222;
	$color-grey:				#52565e;
	$color-turquoise:			#30c39e;
	$color-orange:				#f48924;
	$color-red:					#f85a40;
	$color-yellow:				#ffc845;
	$color-teal:				#0a8ea0;

	/* 1b. Social colours */
	$twitter-blue:				#4099ff;
	$facebook-blue:				#385ba6;
	$insta-blue:				#517fa4;
	$linkedin-blue:				#1985bb;

	/* 1c. Backgrounds */
	$tile-background:			#898989;
	$button-background-1:		#2B458B;
	$header-background:			#2142c8;
	$footer-background:			#e1e1e1;
	$section-2-background:		#f3f4f7;

/* 2. Fonts
 ---------------------------------------------*/

	/* 2a. Font families */

	// Use google fonts if need be.
	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
	$font-family-default: 		'Lato', Arial, sans-serif;

	/* 2b. Font sizes */

	// Use em() do not override base typography.

	$default-font-size: 		14px;
	$font-size-base:			14px;
	$font-size-extra-small:		$font-size-base * 0.8;
	$font-size-small:			$font-size-base * 0.9;
	$font-size-default:			$font-size-base;
	$font-size-medium:			$font-size-base * 1.25;
	$font-size-large:			$font-size-base * 1.5;
	$font-size-extra-large:		$font-size-base * 3.45;

	/* 2c. Font weights */

	// Use integer based weights

	$font-weight-light: 		300;
	$font-weight-default: 		400;
	$font-weight-bold:			700;

	/* 2d. Line height */

	$line-height-default:		1.3;


	/* 2e. Padding and margins */

	//Padding

	$padding-default: 			10px;

	// Margins

	$margin-default: 			10px;


 /* 3. Directories
 ---------------------------------------------*/

 	$theme-dir:					"../";
 	$image-dir:					"../images/aiesec/";



